In [1]:
import pandas as pd
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
df = pd.read_csv('Epl15-16.csv')

In [3]:
df.head()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
0,E0,08/08/15,Bournemouth,Aston Villa,0,1,A,0,0,D,...,1.79,26,-0.5,1.98,1.93,1.99,1.92,1.82,3.88,4.70
1,E0,08/08/15,Chelsea,Swansea,2,2,D,2,1,H,...,1.99,27,-1.5,2.24,2.16,1.80,1.73,1.37,5.04,10.88
2,E0,08/08/15,Everton,Watford,2,2,D,0,1,A,...,1.96,26,-1.0,2.28,2.18,1.76,1.71,1.75,3.76,5.44
3,E0,08/08/15,Leicester,Sunderland,4,2,H,3,0,H,...,1.67,26,-0.5,2.00,1.95,1.96,1.90,1.79,3.74,5.10
4,E0,08/08/15,Man United,Tottenham,1,0,H,1,0,H,...,2.01,26,-1.0,2.20,2.09,1.82,1.78,1.64,4.07,6.04

In [4]:
df.tail()

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
375,E0,15/05/16,Stoke,West Ham,2,1,H,0,1,A,...,2.27,30,0.25,2.11,2.03,1.87,1.83,3.05,4.00,2.26
376,E0,15/05/16,Swansea,Man City,1,1,D,1,1,D,...,2.45,31,1.00,2.14,2.05,1.85,1.81,7.05,5.00,1.47
377,E0,15/05/16,Watford,Sunderland,2,2,D,0,1,A,...,2.10,29,-0.50,2.06,2.01,1.91,1.85,1.64,4.52,5.27
378,E0,15/05/16,West Brom,Liverpool,1,1,D,1,1,D,...,2.09,30,-0.25,2.10,2.05,1.86,1.81,2.61,3.75,2.70
379,E0,17/05/16,Man United,Bournemouth,3,1,H,1,0,H,...,2.20,29,-0.75,1.88,1.84,2.08,2.02,1.50,4.60,7.03

In [6]:
df[['HomeTeam']]

           HomeTeam
0       Bournemouth
1           Chelsea
2           Everton
3         Leicester
4        Man United
5           Norwich
6           Arsenal
7         Newcastle
8             Stoke
9         West Brom
10      Aston Villa
11      Southampton
12       Sunderland
13          Swansea
14        Tottenham
15          Watford
16         West Ham
17   Crystal Palace
18         Man City
19        Liverpool
20   Crystal Palace
21        Leicester
22       Man United
23          Norwich
24       Sunderland
25         West Ham
26          Everton
27          Watford
28        West Brom
29          Arsenal
..              ...
350         Watford
351       West Brom
352      Man United
353     Southampton
354         Swansea
355         Chelsea
356     Aston Villa
357     Bournemouth
358  Crystal Palace
359       Leicester
360         Norwich
361      Sunderland
362        West Ham
363       Liverpool
364        Man City
365       Tottenham
366        West Ham
367       Liverpool
368         Norwich
369      Sunderland
370         Arsenal
371         Chelsea
372         Everton
373       Newcastle
374     Southampton
375           Stoke
376         Swansea
377         Watford
378       West Brom
379      Man United

[380 rows x 1 columns]

In [7]:
pd.__version__

u'0.18.1'

In [8]:
df[df['HomeTeam'] == 'Arsenal']

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,PSCH,PSCD,PSCA
6,E0,09/08/15,Arsenal,West Ham,0,2,A,0,1,A,...,2.22,27,-1.50,1.96,1.89,2.06,1.96,1.24,6.75,15.00
29,E0,24/08/15,Arsenal,Liverpool,0,0,D,0,0,D,...,2.02,24,-0.50,1.74,1.70,2.28,2.21,1.80,4.05,4.60
40,E0,12/09/15,Arsenal,Stoke,2,0,H,1,0,H,...,2.25,24,-1.50,1.87,1.80,2.12,2.05,1.30,6.30,11.00
77,E0,04/10/15,Arsenal,Man United,3,0,H,3,0,H,...,1.97,25,-0.50,2.06,2.00,1.91,1.86,2.01,3.81,3.84
90,E0,24/10/15,Arsenal,Everton,2,1,H,2,1,H,...,2.47,23,-1.50,2.17,2.12,1.80,1.76,1.39,5.30,8.80
117,E0,08/11/15,Arsenal,Tottenham,1,1,D,0,1,A,...,2.33,22,-0.75,1.89,1.85,2.08,2.02,1.80,3.96,4.72
140,E0,05/12/15,Arsenal,Sunderland,3,1,H,1,1,D,...,2.30,28,-1.50,1.85,1.79,2.14,2.08,1.29,6.53,11.18
169,E0,21/12/15,Arsenal,Man City,2,1,H,2,0,H,...,2.15,27,-0.25,2.08,2.02,1.88,1.84,2.49,3.49,3.01
180,E0,28/12/15,Arsenal,Bournemouth,2,0,H,1,0,H,...,2.26,30,-1.50,2.32,2.22,1.75,1.70,1.54,4.35,7.15
190,E0,02/01/16,Arsenal,Newcastle,1,0,H,0,0,D,...,2.56,30,-1.50,1.81,1.76,2.18,2.11,1.24,7.25,12.75
228,E0,24/01/16,Arsenal,Chelsea,0,1,A,0,1,A,...,1.87,28,-0.50,2.21,2.10,1.83,1.75,2.32,3.33,3.46
230,E0,02/02/16,Arsenal,Southampton,0,0,D,0,0,D,...,1.74,32,-1.00,2.48,2.39,1.63,1.60,1.83,3.65,4.97
257,E0,14/02/16,Arsenal,Leicester,2,1,H,0,1,A,...,2.05,29,-1.00,2.28,2.21,1.75,1.70,1.68,4.23,5.32
273,E0,02/03/16,Arsenal,Swansea,1,2,A,1,1,D,...,2.04,31,-1.50,2.12,2.06,1.86,1.80,1.29,5.95,12.55
303,E0,02/04/16,Arsenal,Watford,4,0,H,2,0,H,...,2.16,29,-1.25,1.85,1.81,2.11,2.07,1.35,5.55,9.90
330,E0,17/04/16,Arsenal,Crystal Palace,1,1,D,1,0,H,...,2.31,32,-1.50,2.02,1.97,1.93,1.88,1.34,5.85,9.70
338,E0,21/04/16,Arsenal,West Brom,2,0,H,2,0,H,...,2.28,27,-1.75,2.06,2.00,1.90,1.86,1.25,6.57,13.99
346,E0,30/04/16,Arsenal,Norwich,1,0,H,0,0,D,...,2.52,29,-1.75,2.02,1.97,1.95,1.89,1.25,6.70,13.65
370,E0,15/05/16,Arsenal,Aston Villa,4,0,H,1,0,H,...,3.08,30,-2.25,1.96,1.91,1.99,1.94,1.12,12.03,23.60